<div class="container-fluid">
	<% if @org_info.approved == false %>
    <div class="alert alert-danger">
    	Your application has not been approved yet. You will not be able to post any events.
    </div>
    <% end %>
	<div class="row">
    	<div class="col-sm-6">

            <%= form_tag do %>
        	
            <div class="full-modbox">
            	<div class="txt-center large-gray-title">
                	Add an Event
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Name of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input name="event_name" type="text" class="form-control" placeholder="Name of Event" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Date of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input name="event_date" id="datepicker" type="text" class="form-control" placeholder="Date" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div class="row">
                        <div class="col-sm-6">
                            <div>
                                <strong>Start Time of Event</strong>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-sm-5">
                                    <input name="event_start" type="text" class="form-control" placeholder="Ex: 2:00" />
                                </div>
                                <div class="col-sm-5">
                                    <select name="event_start_am" class="form-control">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <strong>End Time of Event</strong>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-sm-5">
                                    <input name="event_end" type="text" class="form-control" placeholder="Ex: 2:00" />
                                </div>
                                <div class="col-sm-5">
                                    <select name="event_end_am" class="form-control">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Address of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input name="event_address" type="text" class="form-control" placeholder="Address" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Event Details</strong>
                    </div>
                    <div class="margin-top-10">
                    	<textarea name="event_details" class="form-control" placeholder="Use this space to write details about your event. Be specific."></textarea>
                    </div>
                </div>
                <div class="margin-top-20 txt-center">
                    <button id="submit-event-button" class="btn btn-primary" type="submit">Add Event</button>
                </div>
            </div>
            
            <% end %>

        </div>
        <div class="col-sm-6 event-list">
        	<div class="large-black-title">
            	My Events
            </div>

            <% @event_list.each do |event| %>

            <div class="margin-top-20 white-modbox">
            	<div>
                	<strong><%= event.event_name %></strong>
                </div>
                <div class="margin-top-5">
                	<%= event.description %>
                </div>
                <div class="row margin-top-10">
                	<div class="col-sm-3">
                    	<i class="fa fa-calendar"></i> <%= format_date(event.start_time) %>
                    </div>
                    <div class="col-sm-3">
                    	<i class="fa fa-clock-o"></i> <%= format_time(event.start_time) + " to " + format_time(event.end_time) %>
                    </div>
                    <div class="col-sm-6">
                    	<i class="fa fa-map-marker"></i> 601 Montgomery Street, San Francisco, CA
                    </div>
                </div>
                <div class="margin-top-20">
            		<a class="btn btn-warning">Edit</a>
            		<a class="btn btn-primary">Delete</a>
            	</div>
            </div>

            <% end %>

        </div>
    </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script type="text/javascript">
$("#datepicker").datepicker({
	dateFormat: "dd-mm-yy"
});
</script>

</body>
